body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6e6;
    height: 100vh;
    margin: 0;
}

.pantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;
    width: 100%;
    height: 100vh;
}

.imagen-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.pantalla h1 {
    color: #d63384;
    font-size: 3em;
}

button {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #d63384;
}

